@charset "utf-8";
/**
* [peui-min]
* 静静UI前端框架
* Author：mufeng
* Date: 2024.12.12
* Update: 2025.03.07
*/

/*+ ================================================================================ +*/
/* 								通用样式
/*+ ================================================================================ +*/
/*+ ----------------  ---------------- +*/
/**
* 说明
[rem基准大小]：20px 1rem | 16px 0.8rem | 14px 0.7rem | 13px 0.65rem |  12px 0.6rem
[几个CSS特别属性讲解]
· pointer-events: none; 适应于：禁止点击、穿透效果、禁止系统弹窗、禁止a标签hover效果及跳转等.
· text-size-adjust 是否允许字体缩放. 值 auto 允许, none 禁用, 百分比数值,比如100%
· tap-highlight-color 去掉ios点击下的阴影. 一般用值 rgba(0, 0, 0, 0) 即可实现去掉阴影的目的
· touch-callout 是否禁用系统默认菜单(ios). 值: default 允许, none 禁用, unset 未设置
· user-select  禁止用户选择文本,选中元素. ios中将属性设置在input、textarea标签上会起到禁止输入作用的效果(光标将不能聚焦)
				是否允许系统自带的复制功能(长按复制)，即是否允许用户选择元素或选择文本后对内容操作. 
	前辍：-webkit, -moz, -ms
	无前辍时的值: none,auto,text,contain,all
	-webkit, -moz前辍时的值: none,text,all
	-ms辍时的值：none,text,element
	值说明: auto 用户根据需要选择文本; none 禁用; text 可以选择文本; all 点一次就全部选中(一般不用这个属性)即当所有内容作为一个整体时可以被选择。如果双击或者在 上下文上点击子元素，那么被选择的部分将是以该子元素 向上回溯的最高祖先元素; element:可以选择文本，但选择范围受元素边界的约束
· touch-action 是否允许用户操作.值: all 允许, none 不允许(任何元素都无法操作，点页面任何地方都没反应。!!!请谨慎使用）
*/
*{
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}
header, footer, main, section, menu, nav, article, aside, hgroup, summary, details, figcaption, figure{display: block;}
a { text-decoration: none; -webkit-tap-highlight-color: rgba(0,0,0,0); }
a img { border: 0 }

html, body{
	width: 100%;
	margin: 0 auto;
	padding: 0;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0); 
	/* -webkit-touch-callout: none; */
	/* -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;*
	user-select: none; */
	/* touch-action: none; */
}
/* 即非输入框区域,即input, textarea输入框以外的区域 */
/* 以下两个属性值为 none 时, 将禁止用户复制内容，即鼠标无法选中文本更无法复制文本 */
*:not(input,textarea) { 
    /* -webkit-touch-callout: none; */ /*禁用系统默认菜单*/
    /* -webkit-user-select: none; */ /*禁止用户选择文本*/
}

html{ font-size: 20px; }
@media only screen and (min-width: 400px){
	html{ 
		font-size: 21.33333333px!important;
	}
}
@media only screen and (min-width: 414px){
	html{font-size: 21px!important;}
}
@media only screen and (min-width: 480px){
	html{font-size: 25.6px!important;}
}
body{
	background-color: #fff;
	/*background-color: #f4f4f4;*/
	line-height: 1.5;
	font-family: 'Hiragino Sans GB W3', 'Hiragino Sans GB', 'microsoft yahei', 'Sim sun', '-apple-system-font', 'Helvetica Neue', 'sans-serif';
	/*font-size: 14px;*/
	font-size: .7rem;
	color: #212121;
	overflow-x: hidden;
	overflow-y: auto;
	/* -webkit-overflow-scrolling: touch; */ 
    /* ios滚动回弹效果,页面更流畅，一般用于某个需要滚动的元素上，并且加上z-index:1，而不用于body */
}
/*移动端时*/
body.mobile{ max-width: 640px; margin: 0 auto; }
/*透明背景色时*/
body.transparent{ background-color: #f4f4f4; }


/*+ ================================================================================ +*/
/*								元素外观
/*+ ================================================================================ +*/
/*+ ---------------- 元素外观 ---------------- +*/
/*+ ios、安卓都有默认样式,故需重定义 +*/
button, input[type="text"], textarea{
	font-size: 14px;
	color: inherit;
	outline: 0;
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-ppearance: none;
	-ms-appearance: none;
	appearance: none;
	background-color: transparent;
	overflow: hidden;
	text-overflow: ellipsis;
	resize: none;
}
button{ overflow: visible; text-transform: none; }
select{ text-transform: none; }
ol, ul, li{ list-style: none; }
a{ color: inherit; /*color: #0062cc;*/ text-decoration: none; background-color: transparent; }
i, em{ font-style: normal; }

/*+ ---------------- 元素属性 ---------------- +*/
/*+ readonly +*/
input:read-only,
input[readonly],
span[readonly],
textarea[readonly]{
	background-color: #fff;
	-webkit-text-fill-color: inherit;
	-webkit-text-stroke: 1px solid #d6e9c6;
	filter: alpha(opacity=100);
	-webkit-opacity: 1;
	opacity: 1;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	cursor: default!important;
}

/*+ disabled +*/
/*默认的，ios中input,textarea属性disabled时字体会变成灰色*/
input:disabled,
input[disabled],
textarea:disabled,
textarea[disabled]{
	background-color: #f4f4f4!important;
	-webkit-text-fill-color: inherit;
	-webkit-text-stroke: 1px solid #d6e9c6;
	filter: alpha(opacity=100);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-webkit-opacity: 1;
	opacity: 1; /*默认透明度0.3，故一定要加opacity:1*/
	cursor: not-allowed!important;
}
/*+ placeholder +*/
::-webkit-input-placeholder{
	/* color: #bfbfbf; */
	color: #e2dcdc;
	font-size: 0.6rem;
}
::-moz-placeholder{
	color: #e2dcdc;
	font-size: 0.6rem;
}
:-moz-placeholder{
	color: #e2dcdc;
	font-size: 0.6rem;
}
:-ms-input-placeholder{
	color: #e2dcdc;
	font-size: 0.6rem;
}
div:empty::before,
span:empty::before{
	content: attr(placeholder);
	color: #e2dcdc;
	font-size: 0.6rem;
}

/*+ ---------------- 代码块 ---------------- +*/
code, kbd, pre, samp {
    font-family: Monaco,Menlo,Consolas,"Courier New",FontAwesome,monospace;
}
code, pre {
    font-size: 14px;
    background-color: #f8f8f8;
	-webkit-touch-callout: default; /* 允许系统默认菜单 */
    -webkit-user-select: text; /* 允许用户选择文本 */
	tab-size: 2;
}
pre {
    display: block;
    padding: 16px;
    margin: 16px 0;
    line-height: 1.6;
    word-break: break-all;
    word-wrap: break-word;
    color: #555;
    border: 1px solid #dedede;
    border-radius: 0;
}
pre, pre code {
    white-space: pre-wrap;
}





/*+ ---------------- 元素样式 ---------------- +*/
.peui-flex {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: flex;
	display: box;
}
.peui-flex_start {
	align-items: flex-start;
}
.peui-flex_end {
	align-items: flex-end;
}
.peui-flex_center {
	align-items: center;
}



/*+ ---------------- 表单布局 ---------------- +*/
.peui-label {
	display: block;
	width: 65px;
	max-width: 100px;
	text-align: right;
	color: #666;
	font-size: .6rem;
}
.peui-input[type="text"] {
	padding: 0 10px;
	height: 32px;
}
.peui-textarea {
	min-height: 45px;
	padding: 5px 8px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.peui-input[type="text"],
.peui-textarea {
	width: 100%;
	border: 1px solid #dbdbdb;
	border-radius: 2px;
	color: #555;
	font-size: .6rem;
}
/* 输入框悬浮 */
.peui-input[type="text"]:hover,
.peui-textarea:hover {
	border-color: #03A9F4;
	border-color: #f8d5f1;
}
.peui-input[type="text"]:read-only:hover,
.peui-textarea:read-only:hover,
.peui-input[type="text"][readonly]:hover,
.peui-textarea[readonly]:hover{
	border-color: #dbdbdb;
}
.peui-input[type="text"]:disabled:hover,
.peui-textarea:disabled:hover,
.peui-input[type="text"][disabled]:hover,
.peui-textarea[disabled]:hover{
	border-color: #dbdbdb;
	cursor: not-allowed!important;
}
/* 输入框聚焦 */
.peui-input[type="text"]:focus,
.peui-textarea:focus {
	border-color: #f155ce;
	color: #000;
}
.peui-form {
	
}
.peui-row {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: flex;
	display: box;
	flex-wrap: wrap;
}
.peui-column {
	
}
.peui-box {
	
}
.peui-cell {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: flex;
	display: box;
	align-items: center;
	/* flex-grow: 1; */
	/* flex-shrink: 1; */
	margin-right: 20px;
	margin-bottom: 3px;
}
.peui-cell__hd {
	margin-right: 15px;
}
.peui-cell__bd {
	
}

/* 输入框为下拉类型 */
.peui-box_drop {
	position: relative;
	cursor: pointer;
}
.peui-box_drop > input[type="text"],
.peui-box_drop > textarea {
	cursor: pointer!important;
}
.peui-box_drop > input[type="text"]:read-only:hover,
.peui-box_drop > textarea:read-only:hover,
.peui-box_drop > input[type="text"][readonly]:hover,
.peui-box_drop > textarea[readonly]:hover{
	border-color: #f155ce;
}
.peui-box_drop:after {
	content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(135deg);
    -moz-transform: translateY(-50%) rotate(135deg);
    -o-transform: translateY(-50%) rotate(135deg);
    transform: translateY(-50%) rotate(135deg);
    right: 10px;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-style: solid;
    border-width: 1px 1px 0 0;
    border-color: #888;
}
/* 输入框仅底部边框 */
.peui-textbox_border-bottoom {
	border-width: 0 0 1px 0!important;
	border-radius: 0!important;
}


/* 表单自适应、表单内容自动调整 */
/* 
1.超小屏幕（手机） 768px以下
2.小屏设备（平板） 768px-992px
3.中等屏幕（旧式电脑） 992px-1200px
4.大屏设备（现代电脑） 1200px以上
*/
@media screen and (max-width: 1280px) {
	.peui-cell {
		flex-grow: 1;
		flex-shrink: 1;
	}
}
@media screen and (max-width: 992px) {
	.peui-cell {
		width: 22%;
	}
	.peui-cell__bd {
		width: 100%;
	}
	.peui-input[type="text"],
	.peui-textarea {
		width: 100%!important;
	}
}
@media screen and (max-width: 820px) {
	.peui-cell {
		width: 30.5%;
	}
}
@media screen and (max-width: 768px) {
	.peui-cell {
		width: 30.5%;
	}
}
@media screen and (max-width: 540px) {
	.peui-cell {
		width: 46.2%;
	}
}
@media screen and (max-width: 480px) {
	.peui-cell {
		width: 100%;
	}
}